body, head {
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

input {
    outline: none;
}

p, div, ul, li, a, img {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.head {
    overflow: hidden;
}

.hide {
    display: none;
}

.float-left {
    float: left;
}

.a-button {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.page-head {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-right: 200px;
    background-color: #c35ac1;
}

.home-button-div {
    float: left;
    margin-left: 350px;
}

.head-button-div {
    float: left;
    margin-left: 15px;
}

.head-button {
    color: #ffffff;
    font-size: 17px;
    margin-right: 50px;
}

.head-button:hover {
    color: #111111;
}

.home-button {
    height: 50px;
    width: 80px;
}

.region-image {
    width: 16px;
    height: 16px;
    float: right;
    background: url("/content/image/arrow_down_white.png") no-repeat;
    margin-left: 10px;
    margin-top: 17px;
}

.content {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.content-title {
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid #c35ac1;
}

.goods-filter {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #c35ac1;
    margin-top: 2px;
    color: #ffffff;
}

.goods-show-filter{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #c35ac1;
    margin-top: 2px;
    color: #ffffff;
}

.margin-left-50{
    margin-left: 50px;
}

.input-button{
    border: solid 1px #c35ac1;
    background-color: #ffffff;
}

.filter-name {
    float: left;
    font-size: 15px;
    margin-left: 50px;
    color: #ffffff;
}

.filter-name:hover {
    color: #000000;
}

.sort-asc {
    margin-top: 2px;
    width: 16px;
    height: 16px;
    background: url("/content/image/arrow_up_white.png") no-repeat;
}

.sort-desc {
    margin-top: -6px;
    width: 16px;
    height: 16px;
    background: url("/content/image/arrow_down_white.png");
}

.sort-asc:hover {
    background: url("/content/image/arrow_up_black.png");
}

.sort-desc:hover {
    background: url("/content/image/arrow_down_black.png");
}

.container-image {
    margin-left: 10px;
}

.goods-list-row {
    /*todo*/
    height: 280px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.goods-container {
    position: relative;
    float: left;
    width: 248px;
    height: auto;
    margin: 0 2px;
    padding: 1px 1px 10px;
    border: solid 1px #ffffff;
}

.goods-container:hover {
    border: solid 1px #c35ac1;
    cursor: hand;
}

.goods-image {
    max-width: 100%;
    height: 200px;
}

.goods-information {
    margin-top: 4px;
    padding: 1px 5px;
}

.goods-name {
    margin-top: 5px;
    font-size: 15px;
}

.goods-description {
    height: 15px;
    margin-top: 5px;
    white-space: nowrap;
    font-size: 10px;
    color: #999999;
    overflow: hidden;
    position: relative;
}

/* Safari 和 Chrome */
@-webkit-keyframes marquee {
    from {
        left: 0;
    }
    to {
        left: -120%;
    }
}

/* Firefox */
@-moz-keyframes marquee {
    from {
        left: 0;
    }
    to {
        left: -120%;
    }
}

@-ms-keyframes marquee {
    from {
        left: 0;
    }
    to {
        left: -120%;
    }
}

/* Opera */
@-o-keyframes marquee {
    from {
        left: 0;
    }
    to {
        left: -120%;
    }
}

@keyframes marquee {
    from {
        left: 0
    }
    to {
        left: -120%
    }
}

.marquee {
    position: absolute;
    -webkit-animation: marquee 10s linear infinite;
    -moz-animation: marquee 10s linear infinite;
    -ms-animation: marquee 10s linear infinite;
    -o-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite;
}

.goods-price {
    color: #c35ac1;
    font-size: 15px;
}

.goods-operation {
    float: left;
    background-color: #ffffff;
    color: #111111;
    text-align: center;
}

.goods-operation:hover {
    background-color: #c35ac1;
    color: #ffffff;
}

.goods-operation-left {
    font-size: 15px;
    color: #c35ac1;
}

.goods-operation-middle, .goods-operation-right {
    margin-left: 40px;
    font-size: 13px;
}

.goods-page-list {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.goods-page, .goods-more-next, .goods-more-previous, .goods-page-previous, .goods-page-next {
    display: inline;
    font-size: 15px;
    color: #c35ac1;
    margin-left: 10px;
    border: solid 1px #ffffff;
}

.goods-page:hover, .goods-more-next:hover, .goods-more-previous:hover, .goods-page-previous:hover, .goods-page-next:hover {
    border: solid 1px #c35ac1;
}

.current-page {
    color: #999999 !important;
}

.current-page:hover {
    border: solid 1px #ffffff !important;
}

.goods-page-border {
    color: #999999 !important;
}

.goods-page-border:hover {
    border: solid 1px #ffffff !important;
}

.goods-watermark {
    position: absolute;
    top: 1px;
    background-color: #c35ac1;
    opacity: 0.7;
    font-size: 10px;
    color: #ffffff;
}

.backdrop {
    position: fixed;
    z-index: 1024;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.7;
}

.user-dialog {
    top: 50%;
    left: 50%;
    margin: -141px 0 0 -201px;
    width: 400px;
    height: 280px;
    position: fixed;
    border: 2px solid #c35ac1;
    text-align: center;
    font-size: 14px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 102400;
}

.user-dialog-owner {
    top: 50%;
    left: 50%;
    margin: -141px 0 0 -201px;
    width: 400px;
    height: 120px;
    position: fixed;
    border: 2px solid #c35ac1;
    text-align: center;
    font-size: 14px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 102400;
}

.user-title {
    margin-top: 5px;
    color: #111111;
    font-size: 20px;
}

.user-close {
    margin-top: -35px;
    margin-left: 370px;
    font-size: 32px;
    float: left;
    color: #999999;
    position: absolute;
    cursor: pointer;
}

.user-close:hover {
    color: #c35ac1;
}

.user-account {
    padding: 20px 10px 10px;
}

.user-information, .user-operation {
    margin-top: 15px;
}

.user-information > input {
    height: 35px;
    width: 250px;
    padding: 20px;
    border: 1px solid #999999;
    border-radius: 4px;
    outline-style: none;
    font-size: 14px;
    background-color: transparent;
}

.user-information > input:hover {
    border: 1px solid #c35ac1;
}

.user-login {
    width: 250px;
    height: 30px;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #999999;
    border-radius: 5px;
}

.user-operation-button {
    width: 100px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.user-login:hover, .user-operation-button:hover {
    cursor: pointer;
    color: #c35ac1;
}

.validate-input {
    width: 150px !important;
    margin-left: 60px;
}

.validate-a {
    display: inline !important;
    width: 100px;
    height: 35px;
    float: right;
    margin-right: 60px;
    cursor: pointer;
    font-size: 10px;
}

.validate-img {
    width: 95px;
}

.account-information {
    top: 50%;
    left: 50%;
    margin: -141px 0 0 -201px;
    width: 600px;
    height: 600px;
    position: fixed;
    border: 2px solid #c35ac1;
    text-align: center;
    font-size: 14px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 102400;
}

.pop-menu {
    position: absolute;
    z-index: 1000;
}

.sub-menu {
    background-color: #ffffff;
    margin-top: -15px;
    width: 60px;
}

.new-sell-mark {
    position: absolute;
    color: #ffffff;
    font-size: 5px;
    left: 30px;
    top: 60px;
    background-color: #ff0000;
    line-height: 10px ! important;
    z-index: 1024;
}

.new-buy-mark{
    position: absolute;
    color: #ffffff;
    font-size: 5px;
    left: 30px;
    top: 35px;
    background-color: #ff0000;
    line-height: 10px ! important;
    z-index: 1024;
}

.triangle {
    border-style: solid;
    border-color: rgba(195, 90, 193, 0) rgba(195, 90, 193, 0) #ffffff rgba(195, 90, 193, 0);
    border-width: 6px 6px 6px;
    height: 0;
    width: 0;
    top: -15px;
    left: -5px;
    position: relative;
}

.menu-a {
    color: #c35ac1;
    padding-left: 1px;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
}

.specific-container {
    position: relative;
    min-height: 300px;
}

.specific-attribute {
    margin-top: 40px;
}

.image-container {
    position: relative;
    float: left;
    width: 372px;
    height: 300px;
    padding: 2px;
    margin-left: 20px;
}

.image-container > img {
    height: 300px;
}

.image-container-img {
    height: 300px;
    width: 372px;
}

.specific-operation-container {
    position: relative;
    float: right;
    width: 500px;
    height: 300px;
    margin-right: 20px;
}

.specific-operation {
    /*line-height: 20px;*/
    padding: 5px 10px;
    font-size: 15px;
    /*-moz-box-shadow: 0 0 2px #c35ac1; !* 老的 Firefox *!*/
    /*box-shadow: 0 0 2px #c35ac1;*/
}

.operation-goods-name {
    font-size: 13px;
}

.operation-goods-price {
    font-size: 17px;
    color: #c35ac1;
}

.operation-goods-credit {
    width: 200px;
    height: 10px;
    margin-top: 5px;
    float: left;
    border: solid 1px #c35ac1;
}

.credit-value {
    height: 10px;
    background-color: #c35ac1;
}

.operation-goods-attention {
    font-size: 15px;
}

.operation-kind {
    float: left;
    width: 50px;
    font-size: 10px;
    color: #6C6C6C;
    margin-top: 5px;
}

.operation-collection {
    width: 40px;
    background-color: #ffffff;
    color: #c35ac1;
    font-size: 10px;
    text-align: center;
    border: solid 1px;
    border-radius: 2px;
    margin-left: 50px;
    cursor: pointer;
}

.operation-order {
    width: 80px;
    background-color: #c35ac1;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    border: solid 1px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 2px;
    cursor: pointer;
}

.specific-border {
    border: solid 1px #c35ac1;
}

.specific-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 64px;
    padding: 5px;
}

.specific-select {
    margin-left: 20px;
    margin-top: 40px;
}

.operation-select-a {
    float: left;
    padding: 2px 10px;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.current-a {
    color: #ffffff;
    background-color: #c35ac1;
}

.operation-date {
    font-size: 12px;
}

.parameter-kind {
    float: left;
    width: 50px;
    font-size: 10px;
    color: #6C6C6C;
    margin-top: 2px;
}

.wrapper {
    position: relative;
    margin: 0 auto 20px auto;
    width: 1200px;
    height: 500px;
}

.banner {
    position: relative;
    width: 1200px;
    height: 500px;
    overflow: hidden;
}

.image-li {
    width: 1200px;
    height: 500px;
}

.img-list {
    position: relative;
    width: 6000px;
    height: 500px;
    z-index: 10;
    overflow: hidden;
}

.img-list li {
    float: left;
    display: inline;
}

.previous, .next {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 200px;
    z-index: 20;
    cursor: pointer;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.previous:hover, .next:hover {
    opacity: 0.8;
}

img.previous {
    left: 20px;
}

img.next {
    right: 20px;
}

.index-list {
    position: absolute;
    left: 545px;
    bottom: 5px;
    z-index: 30;
}

.index-list li {
    float: left;
    margin-right: 5px;
    padding: 2px 4px;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
}

.index-list li:hover {
    color: #999999;
}

.index-on {
    font-weight: 600;
    color: #c35ac1 !important;
}

.message-name {
    float: left;
    width: 50px;
    font-size: 13px;
    margin-left: 90px;
}

.message-content {
    text-align: initial;
}

.goods-brief {
    float: right;
    padding: 5px 2px;
    font-size: 13px;
    height: 100px;
    width: 960px;
    overflow-y: scroll;
}

.goods-attribute {
    font-size: 12px;
}

.filePath {
    position: absolute;
    height: 300px;
    width: 372px;
    opacity: 0;
}

.goods-close {
    position: absolute;
    color: #c35ac1;
    z-index: 1000;
    left: 360px;
    cursor: pointer;
}

.input-large {
    width: 200px;
    font-size: 12px;
}

.label-medium {
    font-size: 15px;
}

.input-medium {
    width: 120px;
}

.span-medium {
    font-size: 15px;
}

.label-small {
    font-size: 12px;
}

.input-small {
    width: 100px;
    font-size: 12px;
}

.must-mark {
    color: #ff0000;
}

#commit {
    height: 30px;
    width: 200px;
    margin-top: 5px;
    margin-left: 250px;
    font-size: 14px;
    color: #ffffff;
    background-color: #c35ac1;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
}

#delete {
    height: 30px;
    width: 200px;
    margin-top: 5px;
    margin-left: 100px;
    font-size: 14px;
    color: #ffffff;
    background-color: #c35ac1;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
}

#add {
    height: 30px;
    width: 200px;
    margin-top: 5px;
    margin-left: 400px;
    font-size: 14px;
    color: #ffffff;
    background-color: #c35ac1;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
}

.order-list-container {
    top: 35%;
    left: 50%;
    margin: -141px 0 0 -201px;
    width: 400px;
    height: 500px;
    position: fixed;
    border: 2px solid #c35ac1;
    text-align: center;
    font-size: 14px;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 102400;
}

.order-list {
    height: 430px;
    margin-top: 20px;
    overflow-y: auto;
}

.order-title {
    margin-top: 5px;
    color: #111111;
    font-size: 20px;
}

.order-item {
    height: 40px;
    padding: 2px 10px;
}

.order-item:hover {
    background-color: rgba(204, 204, 204, 0.25);
}

.order-goods {
    float: left;
    font-size: 15px;
    width: 120px;
    text-align: left;
}

.order-seller {
    float: left;
    font-size: 13px;
    position: relative;
    top: 3px;
    left: 20px;
    width: 160px;
    text-align: left;
}

.order-time {
    position: relative;
    top: 20px;
    left: -295px;
    font-size: 10px;
}

.order-operation {
    float: left;
    position: relative;
    top: -5px;
    left: 90px;
    color: #ff0000;
    cursor: pointer;
}

.my-grade {
    position: absolute;
    left: 106px;
}

.my-grade-show {
    margin-left: 172px;
    text-align: left;
}

.order-specific {
    margin-top: 50px;
}

#buySubmit, #sellSubmit {
    margin-top: 20px;
    width: 100px;
    cursor: pointer;
    border: solid 1px #c35ac1;
    border-radius: 2px;
    background-color: #ffffff;
}

.order-user {
    border: 0px;
}

.order-user-label {
    margin-left: 36px;
}